node_modules/
dist/
*.gem
.DS_Store

examples/orders/log/*
examples/orders/tmp/*
examples/orders/storage/*
!examples/orders/log/.keep
!examples/orders/tmp/.keep
!examples/orders/storage/.keep
examples/orders/db/*.sqlite3*
examples/orders/config/master.key
examples/orders/public/vite*

docs/.vitepress/dist
docs/.vitepress/cache
docs/public/api
