# typed: strict
<% if class_path.any? -%>

module <%= class_path.map(&:camelize).join("::") %>
  class <%= file_name.camelize %>Page < Fond::Page
    # class Params < T::Struct
    #   const :id, Integer
    # end

    class Props < T::Struct
      const :name, String
    end
  end
end
<% else -%>

class <%= file_name.camelize %>Page < Fond::Page
  # class Params < T::Struct
  #   const :id, Integer
  # end

  class Props < T::Struct
    const :name, String
  end
end
<% end -%>
